@import './mixins.module.scss';

$font: 'EFour', sans-serif;
$font-digital: 'Digital', sans-serif;
$aqua: #04f0ef;
$dark-blue: #231e39;
$game-over: rgb(255, 60, 0);
$game-over-frame: rgb(60, 7, 7);
$game-over-shadow: 0 0 30px rgba(255, 60, 0, 0.9);
$game-won: rgb(63, 246, 63);
$game-won-shadow: 0 0 30px rgba(4, 240, 75, 0.9);
$game-standard-shadow: 0 0 30px rgba(4, 240, 239, 0.9);
$bcg-url: '../../../public/images/bcgS.jpg';
$bcg-static-url: '../../../public/images/static-bcg.jpg';
$bullet-url: '../../../public/images/bullet.png';
$explosion-url: '../../../public/images/explosion.png';
$bullet-url-gameover: '../../../public/images/bullet-gameover.png';
$bcg-speed-slow: 300s; //SHOULD AGREE WITH CONTEXT DATA
$bcg-color: #0e1628;
$panel-url: '../../../public/images/panel.png';
$panel-url-gameOver: '../../../public/images/panel-gameover.png';
$game-w: 1200px;
$game-h: 600px;
$slide-w: 8000px;
$button-start-regular-url: '../../../public/images/button-start-regular.png';
$button-start-hover-url: '../../../public/images/button-start-hover.png';
$button-info-url: '../../../public/images/info-off.png';
$button-info-hover-url: '../../../public/images/info-on.png';
$button-play-off: '../../../public/images/play-off.png';
$button-play-on: '../../../public/images/play-on.png';
$button-pause-off: '../../../public/images/pause-off.png';
$button-pause-on: '../../../public/images/pause-on.png';
$spaceship-url: '../../../public/images/spaceship.png';
