@import '../../_utils/font.module.scss';
@import '../../_utils/variables.module.scss';

.gamePanel {
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 900000;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .gameActive {
    background-image: url($panel-url);
  }

  .gameOver {
    background-image: url($panel-url-gameOver);
  }

  .astronauts {
    display: flex;
    box-sizing: border-box;
    padding: 53px 15px 0 12px;
  }

  .levels {
    display: flex;
    box-sizing: border-box;
    padding: 27px 0 0 90px;
    flex-direction: column;
  }

  .timer {
    display: flex;
    box-sizing: border-box;
    padding-left: 90px;
    padding-top: 53px;
  }

  .score {
    display: flex;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 50px;
  }

  .margin {
    display: flex;
    width: 180px;
  }

  .pauseButton {
    padding-left: 10px;
    padding-top: 55px;
    padding-right: 10px;
  }