@import '../../_utils/font.module.scss';
@import '../../_utils/variables.module.scss';


.gameScore {
    width: 430px;
/*     border: solid 1px yellow; */
    color: $aqua;
    font-family: $font-digital;
    letter-spacing: 5px;
    font-size: 50px;
    -webkit-text-stroke: $dark-blue 1px;
    text-shadow: 0 0 30px rgba(4, 240, 239, 0.9);
    padding-left: 60px;
    padding-top: 50px;
    box-sizing: border-box;
}

.gameOver {
    color: $game-over;
    text-shadow: $game-over-shadow;
}

.gameWon {
    color: $game-won;
    text-shadow: $game-won-shadow;
}