@import '../../_utils/font.module.scss';
@import '../../_utils/variables.module.scss';

@keyframes meteors {
    0% {
        left: 0px;
    }
    100% {
        left: -4800px;
    }
}

.playground {
    position: absolute;
    z-index: 800000;
    width: 1200px;
    left: 0;
    height: 600px;
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 6000px;
    height: 100%;
}

.meteor {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 1px red;
}

.spaceship {
    width: 150px;
    height: 60px;
    position: absolute;
    background-image: url($spaceship-url);
    background-size: contain;
    background-repeat: no-repeat;
}