@import '../../_utils/font.module.scss';
@import '../../_utils/variables.module.scss';

.gameBullets {

  /*     border: solid 1px yellow; */
  display: flex;


  box-sizing: border-box;
}

.bulletIcon {

  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
}

.gameOver {
  background-image: url($bullet-url-gameover);
  opacity: 0.1;
}

.gameActive {
  background-image: url($bullet-url);
}