@import '../../_utils/font.module.scss';
@import '../../_utils/variables.module.scss';

.gameBullets {

 /*      border: solid 1px yellow; */
  display: flex;
  width: 170px;
  column-gap: 3px;
  height: 50px;
  row-gap: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 20px;
  



  box-sizing: border-box;
}

.bulletIcon {

  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
}

.gameOver {
  background-image: url($bullet-url-gameover);
  opacity: 0.1;
}

.gameActive {
  background-image: url($bullet-url);
}

.used {
  opacity: 0.1;
}