@import '../../_utils/font.module.scss';
@import '../../_utils/variables.module.scss';

@keyframes button {
    0% {
        transform: scale(90%);
    }

    50% {
        transform: scale(120%);
    }
    100% {
        transform: scale(90%);
    }
}




.container {
    width: $game-w;
    height: $game-h;
    z-index: 3;

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
}


.button {
    background-image: url($button-start-regular-url);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height:  50px; 
    cursor: pointer;
    animation: button 2s ease-in-out infinite;

    &:hover {
        animation-play-state: paused;
        background-image: url($button-start-hover-url)
    }
}


.gameScreen {
/*     border: solid 1px red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
}

.gamePanel {
/*     border: solid 1px blue; */
    width: 100%;
    display: flex;
/*     height: 120px; */
}




