@import '../../_utils/font.module.scss';
@import '../../_utils/variables.module.scss';

.container {
  width: $game-w;
  height: $game-h;
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  overflow: hidden;
}

.gameScreen {
  /*     border: solid 1px red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 480px;
  opacity: 1;
}



.videoContainer {
  position: relative;
  width: 1200px;
  height: 600px;
  overflow: hidden;
  z-index: 1;
}
.backgroundVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1200px;
  height: 600px;
  object-fit: cover;
  z-index: -1;
}

