@import '../../_utils/font.module.scss';
@import '../../_utils/variables.module.scss';

.GameStart {
  color: $aqua;
  -webkit-text-stroke: $dark-blue 3px;
  text-shadow: $game-standard-shadow;
}

.GameOver {
  color: $game-over;
  -webkit-text-stroke: $game-over-frame 3px;
  text-shadow: $game-over-shadow;
}

.GameWon {
  color: $aqua;
  -webkit-text-stroke: $dark-blue 3px;
  text-shadow: $game-standard-shadow;
}

.general {
  padding: 80px;
  font-family: $font;
  letter-spacing: 5px;
  font-size: 90px;
  box-sizing: border-box;
}
