@import '../../_utils/font.module.scss';
@import '../../_utils/variables.module.scss';

.gameLevel {
  display: flex;
  justify-content: center;
  color: $dark-blue;
  font-family: $font-digital;
  letter-spacing: 5px;
  font-size: 40px;
  -webkit-text-stroke: $dark-blue 1px;
}

.wrapper {
  display: inline-block;
}
.gameOver {
  opacity: 0.4;
  display: inline;
}

.gameActive {
  display: inline;
}