@import '../../_utils/font.module.scss';
@import '../../_utils/variables.module.scss';


.icon {
  display: flex;
  box-shadow: 0 0 10px rgba(4, 240, 239, 0.4);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.play {
  background-image: url($button-play-off);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 32px;
  height: 32px;
  transition: ease-in-out 0.3s;

  &:hover {
    background-image: url($button-play-on);
    transform: scale(110%);
  }

  &Hidden:hover {
    background-image: url($button-play-off);
  }
}

.pause {
  background-image: url($button-pause-off);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 32px;
  height: 32px;
  transition: ease-in-out 0.3s;

  &:hover {
    background-image: url($button-pause-on);
    transform: scale(110%);
  }

  &Hidden:hover {
    background-image: url($button-pause-off);
  }
}

.lowerOpac {
  cursor: default;
  opacity: 0.2;
  background-image: url($button-play-off);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

.hidden {
  width: 32px;
  height: 32px;
  opacity: 0;
}