@import '../../_utils/font.module.scss';
@import '../../_utils/variables.module.scss';


.container {
  display: flex;
  justify-content: center;
}

.info {
  color: $aqua;
  font-family: $font;
  letter-spacing: 1px;
  font-size: 20px;
  padding-top: 5px;
  cursor: pointer;
  text-shadow: $game-standard-shadow;
  transition: ease-in-out 0.3s;

  &:hover {
    color: white;
    transform: scale(110%);
    text-shadow: $game-standard-shadow;
    text-shadow: $game-standard-shadow;
  }
}

.play {
  font-family: Arial, Helvetica, sans-serif;
  color: $aqua;
  transform: rotate(-90deg);
  padding-left: 10px;
  font-size: 20px;
}

.pause {
  height: 15px;
  width: 2px;
  padding-right: 2px;
  box-sizing: border-box;
  background-color: $aqua;
}