@import '_utils/variables.module.scss';

:root {
  background-color: $bcg-color;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.temporaryLinks {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.tempLinks {
  color: white;
  cursor: pointer;
}
