@import '../../_utils/variables.module.scss';

@keyframes scrollBackground {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.container {
    height: 600px;
    width: 1200px;
    overflow: hidden;
    justify-self: center;
    position: relative;
}

.slideWrapper {
    z-index: 0;
    height: 600px;
    animation: scrollBackground $bcg-speed linear; //FIXED NUMBER TO CHANGE
    display: flex;
    flex-direction: row;
}

.slide {
    background-image: url($bcg-url);
    background-repeat: no-repeat;
    background-size: contain;
    width: 8000px;
    height: 600px;   
}

.panel {
    background-image: url($panel-url);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 130px;
    width: 1200px;
    top: 470px;
    z-index: 1;
    position: absolute;  
}

